<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Page</title>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/animate.css" rel="stylesheet" />
    <style>
        .wow:first-child {
            visibility: hidden;
        }
    </style>
    <script src="~/Content/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>
<body>
    <!--Navbar Bootstrap-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-img" href="#">
                    <img src="~/Images/Logo.png" style="height:50px; width:150px" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Home/Index">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Home/About">About Us</a></li>
                    @if (Session["UserID"] != null)
                    {
                        if (Session["UserRole"].ToString().Equals("1"))
                        {
                            <li><a href="~/Agency/PropertyAgency/Index">My Project</a></li>
                        }
                        else
                        {
                            <li><a href="~/Admin/PropertyAdmin/Index">Manage</a></li>
                        }

                        <li><a href="~/Account/ViewDetail">My Profile</a></li>
                        
                        <li><a href="~//Agency/PropertyAgency/Create">Post</a></li>

                        <li><a href="~/Account/LogOut">Log out</a></li>
                        
                    }
                    else
                    {
                        <li><a href="/Account/Login">Login</a></li>
                    }
                </ul>
                @if(Session["UserID"] != null)
                {
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right"><a>Welcome @Session["Fullname"]</a></li>
                </ul>
                }

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--End Navbar Bootstrap-->

   

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <div>
            <p>&copy; @DateTime.Now.Year - PPC-Rental</p>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Srcipts", required: false)
</body>
</html>
